@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #E0E7FF;
  --color-accent: #FF6B6B;
}

:root {
  font-family: 'Outfit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-arabic {
  font-family: 'Tajawal', sans-serif;
}


body {
  @apply bg-gray-50 text-gray-900;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 768px) {

  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}